//------------------------------------------------------------------------------
// Custom Variables
// 
//------------------------------------------------------------------------------
// Colors
$primary-color: #E85353
$light-color: #FAFAFA
$font-color: #969696
$border-color: #DDDDDD

// Borders
$default-border-color: #e5e5e5
$default-border: 1px solid $default-border-color